<!DOCTYPE html>
<html>

<head>
  <title>Rotten Pineapples</title>
  <link href="main.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
</head>

<body>
  {{{body}}}
</body>
<footer>Web app by Colleen, Dan, Hanh and Hamish <img class="pineapple" src="Pineapple.png"></footer>

</html>